

<form>
  
  <h1>Create New Club:</h1>

  <form action="/club_info" method="get">


    <div>
      Club Name:<br>
      <input type="text" name="clubname">
    </div>
    
    <br>
    
    <div>
      <label for="members">Club Members:</label>
    </div>
    <div>
      <br>
      <textarea name="members" rows="10" columns="80" style="height:50px"></textarea>
      <br>
    </div>
    
    

    
    <br>
    
    <input type="submit" value="Submit">

    <br>

  </form>