<h1>Select Club to Edit:</h1>

  <form action="/edit_options" method="get">

    <div>
      <br>

      <label for="clubname">Select name of club:</label>
      <select name="clubname">
      <% @clublist.each do |c| %>
        <option value="<%= c.name %>"> <%= c.name %></option>
      <% end %>
      </select>
      
      <input type="submit" value="Submit">
    </div>
    
  </form>
