    <h1>Edit Options</h1>
    
    <hr>
    <h3> CLUB NAME: <b><%= @club.name %></b> </h3>
    <hr>
    
    <h2>Available Actions:</h2>
    
    <br>
    
    <ul>
      <li>
        <form action="/display_club_info" method="get">
          <b>Change Club Name</b> 
          <br>
          Enter new name: <input type="text" name="newclubname">
          <input type="submit" value="Submit">
        </form>
      </li>
      <li>
        <form action="/display_club_info" method="get">
          <b>Change Member Name</b>
          <br>
          Current member name: <input type="text" name="oldmemname">
          <br>
          New member name:   <input type="text" name="newmemname">
          <input type="submit" value="Submit">
        </form>
      </li>
      <li>
        <form action="/display_club_info" method="get">
          <b>Add Member</b>
          <br>
          Member name to add: <input type="text" name="addmemname">
          <input type="submit" value="Submit">
        </form>
      </li>
      <li>
        <form action="/display_club_info" method="get">
          <b>Remove Member</b>
          <br>
          Member name to remove: <input type="text" name="remmemname">
          <input type="submit" value="Submit">
        </form>
      </li>
    </ul>
