<h1>Enter Club Indentifier:</h1>

  <form action="/edit_options" method="get">

    <div>
      Club Name:
      <br>
      <input type="text" name="clubname">
      <input type="submit" value="Submit">
    </div>
    
  </form>
  <form action="/edit_options" method="get">
    
    <div>
      Club ID:
      <br>
      <input type="text" name="clubid">
      <input type="submit" value="Submit">
    </div>

  </form>