    <h1>Edit Options</h1>
    
    <hr>
    <h3> <%= @club %> </h3>
    <hr>
    
    <h2>Select Action:</h2>
    
    <br>
    
    <ul>
      <li>Blah Stuff I</li>
      <li>Blah Stuff II</li>
      <li>Blah Stuff III</li>
    </ul>
