<h1>Enter Club Indentifier:</h1>

  <form action=<%= @action %> method="get">

    <div>
      <label for="clubid">Select name of club:</label>
      <select name="clubid">
      <% @clublist.each do |c| %>
        <option value= <%= c.id %> > <%= c.name %> </option>
      <% end %>
      </select>
      
      <input type="submit" value="Submit">
    </div>
  </form>
  

