

    <h1>Welcome to the Dinner Club Management System</h1>
    
    <hr>
    
    <h2>Select Action:</h2>
    
    <br>
    
    <ul>
      <li><a href="/create_new_form">Create New Club</a></li>
      <li><a href="/existing">View Existing Club Information</a></li>
      <li><a href="/edit_existing">Edit Existing Club Information</a></li>
    </ul>
